body{
    min-height: 100vh;
}

.fieldCont{
    max-width: 35rem;
    margin: auto;
}

.cameraCanvas{
    width: 640px;
    height: 450px;
    margin: auto;
    overflow: hidden;
    border-radius: 1rem;
}

#msg, #info{
    font-weight: bold;
    text-transform: uppercase;
}

* {
    font-family: "ankaCoder";
}

.navbar-item img {
    max-height: 2.9rem;
}

.navbar {
    background-color: #373535;
}

.header-txt {
    color: white;
}
