.reportIcon {
    text-align: center;
}

.reportIcon img {
    width: 18rem;
}


table{
    margin: 1rem auto 3rem auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3rem;
}

th {
    text-transform: uppercase;
    background-color: rgb(180, 180, 180);
    padding: 1rem;
}

* {
    font-size: 1rem;
}

.printBtn {
    margin: 1rem 0rem 1rem .5rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
}

@media print {
    .no-print {
        display: none !important;
    }
}