.reportIcon {
    text-align: center;
}

.reportIcon img {
    width: 18rem;
}

/* buttons Style */
.btn-container{
    text-align: center;
}
#sorting_selection{
    width: 10rem;
    
}

.printBtn {
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 10rem;
}


@media print {
    .no-print {
        display: none !important;
    }
}


/* table styles */
table{
    margin: 1rem auto 3rem auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3rem;
}

th {
    text-transform: uppercase;
    background-color: rgb(180, 180, 180);
    padding: 1rem;
}

tr:nth-child(even) {background-color: #ececec;}

* {
    font-size: .9rem;
}
