<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" integrity="sha256-rTpdO0HXBCNpreAHcu6tB2Ppg515Vo+5GtYSsnNLz+8=" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" /> {% block head %}{% endblock %}
    <style>
        {% block style %}
        
        {% endblock %}
        
        * {
            font-family: 'Nunito';
        }
        
        .navbar-item img {
            max-height: 3.1rem;
        }
        
        .navbar {
            background-color: #373535;
        }
        
        .header-txt {
            color: #aaa;
        }
    </style>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">
                <img src="{% static 'logo.png' %}" alt="Face Recognition">
                <span class="is-size-3 ml-4 header-txt">
                    <b>ONURUP</b>
                </span>
            </a>

        </div>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>