{% extends "base.html" %}
{% load static %}
{% block title %}
Login
{% endblock title %}
{% block style %}
.box {
margin-top: 5rem;
background-color: white;
}
.avatar {
margin-top: -70px;
padding-bottom: 20px;
}
.avatar img {
padding: 5px;
background: #fff;
border-radius: 50%;
-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}
.field {
padding-bottom: 10px;
}
.centerDiv {
margin: auto;
}
{% endblock %}
{% block content %}
<div class="centerDiv">
    <div class="container has-text-centered anime">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <form onsubmit="post_data(event);">
                    <div class="field">
                        <div class="control">
                            <input name="handle" class="input is-dark" type="text" placeholder="Your Handle"
                                autofocus="" style="height: 3em" id="handle">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="password" class="input is-dark" type="password" placeholder="Your Password"
                                style="height: 3em" id="password">
                        </div>
                    </div>
                    {% csrf_token %}
                    <button class="button is-block is-dark is-large is-fullwidth">
                        Login
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="msg_box" hidden>
        <br>
        <br>
        <article class="message is-warning" style="width: 50%;
                            margin: auto;
                            min-width: 280px">
            <div class="message-header">
                <p>Alert</p>
                <button class="delete" aria-label="delete" onclick="delete_msg();"></button>
            </div>
            <div class="message-body" id="msg_content"></div>
        </article>
    </div>
</div>


<script type="text/javascript">

    let msgBox = document.getElementById('msg_box');

    function delete_msg() {
        msgBox.style.display = 'none';
    }

    function show_msg(string) {
        msgBox.style.display = 'block';
        document.getElementById('msg_content').innerHTML = string;
    }

    function get_link(url) {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has(url)) {
            return urlParams.get(url);
        }
        else {
            return '/';
        }
    }

    function post_data(event) {
        event.preventDefault();

        let handle = document.getElementById('handle').value;
        let password = document.getElementById('password').value;

        var newForm = new FormData();
        newForm.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
        newForm.append('handle', handle);
        newForm.append('password', password);


        fetch("{% url 'login' %}", {
            method: 'post',
            body: newForm
        }).then(
            response => response.json()
        ).then(
            (data) => {
                if (data.is_user == true) {
                    window.location.href = get_link('next');
                }
                else {
                    show_msg("wrong password or handle");
                }
            }
        );
    }

</script>
{% endblock %}