{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'canvas.js' %}"></script>
<script src="{% static 'pico.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block style %}
.fileUpload{
    width: 14rem;
    margin: 1rem auto 1rem auto;
}
.mtop{
    margin-top: 10vh;
}
{% endblock %}

{% block title %}Register{% endblock title %}

{% block content %}

<body>

    <div class="fieldCont mtop">
        <div class="field mt-1 mb-2 mx-4">
            <p class="control has-icons-left">
                <input class="input is-dark" type="text" placeholder="Your Name" id="username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>

        <div class="field mt-1 mb-2 mx-4">
            <p class="control has-icons-left">
                <input class="input is-dark" type="text" placeholder="Your Email" id="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
    </div>
    
    

    <div class="has-text-centered">
        <span class="m-2 is-size-4">
            Upload Pictures
        </span>

        <div class="file is-dark has-name is-boxed fileUpload">
            <label class="file-label">
                <input class="file-input" type="file" id="imgs" accept="image/*" multiple oninput="file_uploaded()">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </span>
                    <span class="file-label">
                        Upload your image
                    </span>
                </span>
                <span class="file-name" id="fileLabel">
                    No files selected
                </span>
            </label>
        </div>


        {% csrf_token %}

        <button class="button is-dark is-outlined m-3" onclick="sendData(this)">
            <span>
                <b>DONE</b>
            </span>
            <span class="icon">
                <i class="fa-solid fa-circle-check"></i>
            </span>
        </button>

    </div>

    <div class="has-text-centered fieldCont">
        <div class="notification is-success is-light mt-5" id="notification_">
        </div>
    </div>
    

    <script>
        const imgs = document.getElementById('imgs');
        let _notification = document.getElementById('notification_');
        let fileLabel = document.getElementById('fileLabel');
        _notification.style.visibility = 'hidden';

        function file_uploaded(){
            fileLabel.innerHTML = `<b>${imgs.files.length}</b> file(s) selected`;
        }

        function sendData(btn) {
            const userName = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            
            const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            if (userName.length == 0 || email.length == 0 || imgs.files.length == 0) {
                _notification.innerHTML = "Please fill up this form properly";
                _notification.style.visibility = 'visible';
                return false;
            }

            let formData = new FormData();
            formData.append('user', userName);
            formData.append('email', email);
            formData.append('csrfmiddlewaretoken', token);

            for (let img of imgs.files) {
                formData.append('images', img);
            }

            btn.disabled = true;

            fetch(
                "{% url 'register' %}", {
                method: 'post',
                body: formData
            }).then(response => response.json()).then(
                (data) => {
                    if (data.stat) {
                        _notification.innerHTML = "Account Registered !";
                        _notification.style.visibility = 'visible';
                        btn.disabled = false;
                    }
                }
            );

        }


    </script>

</body>

{% endblock %}