{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'canvas.js' %}"></script>
<script src="{% static 'pico.js' %}"></script>
{% endblock %}

{% block style %}
{% endblock %}

{% block title %}Register{% endblock title %}

{% block content %}

<body>


    <h1 class="m-2">
        Upload two of your pictures
    </h1>

    <div class="field m-2">
        <p class="control has-icons-left">
            <input class="input is-primary" type="text" placeholder="Your Name" id="username">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </p>
    </div>

    <div class="field m-2">
        <p class="control has-icons-left">
            <input class="input is-primary" type="text" placeholder="Your Email" id="email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>

    <div>
        <div class="file is-primary has-name is-boxed m-2">
            <label class="file-label">
                <input class="file-input" type="file" name="resume" id="imgs" multiple>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </span>
                    <span class="file-label">
                        Upload your image
                    </span>
                </span>
                <span class="file-name">
                    image
                </span>
            </label>
        </div>


        {% csrf_token %}

        <button class="button is-primary is-outlined m-5" onclick="sendData()">
            DONE
        </button>
    </div>

    <script>

        function sendData() {
            const userName = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const imgs = document.getElementById('imgs');
            const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            let formData = new FormData();

            formData.append('user', userName);
            formData.append('email', email);
            formData.append('csrfmiddlewaretoken', token)

            for (let img of imgs.files) {
                formData.append('images', img);
            }

            fetch(
                "{% url 'register' %}", {

                method: 'post',
                body: formData
            });

        }


    </script>

</body>

{% endblock %}