{% extends "base.html" %} {% load static %}
{% block head %}
{% endblock %}

{% block style %}
.vpositioned{
margin-top: 18vh;
}
.hpositioned{
margin: 1rem auto auto auto;
max-width: 10rem;
}
{% endblock %}

{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="has-text-centered is-size-2 mt-5 ">
    Dashboard
</div>

<div class="has-text-centered vpositioned">
    <div class="mt-2">
        <a href="{% url 'dashboard-today' %}">
            Today's Record
        </a>
    </div>
    <br>
    <div class="mt-2">
        <a href="{% url 'dashboard-master' %}">
            Master Record
        </a>
    </div>
    <br>
    <div class="mt-2">
        <a href="{% url 'dashboard-approval' %}">
            Approval
        </a>
    </div>
    <br>

    <div class="field has-addons hpositioned">
        <div class="select is-small">
            <select id="monthSelection">
                <option value=" " disabled selected>Select Month</option>
                <option value='1'>January</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
            </select>
        </div>
        <div class="control">
            <a class="button is-dark is-small" id="generate-btn">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>

</div>


<script>
    let selection = document.getElementById('monthSelection');
    let Generate = document.getElementById('generate-btn');
    Generate.addEventListener('click', () => {
        window.location.href = `{% url 'generate-report' %}${selection.value}`;
    });
</script>

{% endblock %}