<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{% static 'styles/report.css' %}">
</head>

<body>
    <div class="reportIcon">
        <img src="{% static 'reportIcon.png' %}" alt="icon">
    </div>

    <div class="btn-container">
        <button class="printBtn no-print" onclick="window.print()">
            Print
        </button>
        <br>
        <select id="sorting_selection" class="no-print" onchange="sortData()">
            <option disabled selected value="">Sort By</option>
            <option value="working_days">Working Days</option>
            <option value="absent">Absent</option>
            <option value="late_entry">Late Entry</option>
            <option value="percentage">Percentage</option>
        </select>
    </div>


    <table>
        <thead>
            <tr>
                <th>
                    SL No.
                </th>
                <th>
                    name
                </th>
                <th>
                    Deptarment
                </th>
                <th>
                    Days in {{month_name}}
                </th>
                <th>
                    Holidays
                </th>
                <th>
                    Working Day
                </th>
                <th>
                    Absent
                </th>
                <th>
                    Total Working Days
                </th>
                <th>
                    Late Entries (Days)
                </th>
                <th>
                    Net Payable Days in {{month_name}}
                </th>
                <th>
                    %
                </th>
            </tr>
        </thead>

        <tbody id="tableBody">

        </tbody>
    </table>

    <script>
        let tableBody = document.getElementById("tableBody");
        let user_logs = JSON.parse('{{logs | safe}}');

        update_table(user_logs);


        function sortData() {
            let sorting_target = document.getElementById('sorting_selection').value;

            // Sort by working days
            if (sorting_target === 'working_days') {
                user_logs.sort(function (a, b) {
                    return b.present - a.present;
                });
            }

            // Sort by absent days
            else if (sorting_target === 'absent') {
                user_logs.sort(function (a, b) {
                    return (b.days_month - b.holidays - b.present) - (a.days_month - a.holidays - a.present);
                });
            }

            // Sort by Total Days of late entry
            else if (sorting_target === 'late_entry') {
                user_logs.sort(function (a, b) {
                    return b.late_entries - a.late_entries;
                });
            }

            // Sort by %
            else if (sorting_target === 'percentage') {
                user_logs.sort(function (a, b) {
                    return b.present - a.present;
                });
            }


            tableBody.innerHTML = "";
            update_table(user_logs);
        }



        function update_table(data) {
            user_logs.forEach((element, index) => {

                let absent_days = element.days_month - element.holidays - element.present;
                let total_working_days = element.days_month - element.holidays;

                tableBody.innerHTML +=
                    `
                        <tr>
                            <td>
                                ${index + 1}
                            </td>
                            <td>
                                ${element.name}
                            </td>
                            <td>
                                ${element.dept}
                            </td>
                            <td>
                                ${element.days_month}
                            </td>
                            <td>
                                ${element.holidays}
                            </td>
                            <td>
                                ${element.present}
                            </td>
                            <td>
                                ${absent_days}
                            </td>
                            <td>
                                ${total_working_days}
                            </td>
                            <td>
                                ${element.late_entries}
                            </td>
                            <td>
                                ${element.days_month}
                            </td>
                            <td>
                                ${((element.present / total_working_days) * 100).toFixed(2)}%
                            </td>
                        </tr>    
                        `;
            });
        }


    </script>

</body>

</html>